.App {
  text-align: center;

}
.home {
  background-image: url('/home/shivam/project2/public/patient_reg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.patient{
  background-image: url('/home/shivam/project2/public/patient.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  
  
}

.doctor-login {
  background-image: url('/home/shivam/project2/public/Patientlogin.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
 
}

.patient-login {
  background-image: url('/home/shivam/project2/public/Patientlogin.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
